/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

#main-content-cv {
    width: 690px;
    float: left;
}

    #main-content-cv img {
        max-width: 100%;
    }


    #main-content-cv h1 {
        font-family: 'Helvetica Neue', Helvetica, Arial, serif;
        font-size: 2.8em;
        letter-spacing: -1px;
        color: #474747;
    }

        #main-content-cv h1:before {
            content: "/";
            color: #000000;
            padding-right: 0.3em;
            margin-left: -0.9em;
        }

    #main-content-cv h2 {
        font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
        font-size: 22px;
        font-weight: bold;
        margin-bottom: 8px;
        color: #474747;
    }

        #main-content-cv h2:before {
            content: "//";
            color: #000000;
            padding-right: 0.3em;
            margin-left: -1.5em;
        }

    #main-content-cv h3 {
        font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
        font-size: 18px;
        font-weight: bold;
        margin-top: 24px;
        margin-bottom: 8px;
        color: #474747;
    }

        #main-content-cv h3:before {
            content: "///";
            color: #000000;
            padding-right: 0.3em;
            margin-left: -2em;
        }

    #main-content-cv h4 {
        font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
        font-size: 15px;
        font-weight: bold;
        color: #474747;
    }

        #main-content-cv h4:before {
            content: "////";
            color: #000000;
            padding-right: 0.3em;
            margin-left: -2.8em;
        }

    #main-content-cv h5 {
        font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
        font-size: 14px;
        color: #474747;
    }

        #main-content-cv h5:before {
            content: "/////";
            color: #000000;
            padding-right: 0.3em;
            margin-left: -3.2em;
        }

    #main-content-cv h6 {
        font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
        font-size: .8em;
        color: #474747;
    }

        #main-content-cv h6:before {
            content: "//////";
            color: #000000;
            padding-right: 0.3em;
            margin-left: -3.7em;
        }


/* #Media Queries
================================================== */

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
    .inner {
        width: 740px;
    }

    header h1, header h2 {
        width: 340px;
    }

    header h1 {
        font-size: 60px;
    }

    header h2 {
        font-size: 30px;
    }

    #main-content-cv {
        width: 490px;
    }

        #main-content-cv h1:before,
        #main-content-cv h2:before,
        #main-content-cv h3:before,
        #main-content-cv h4:before,
        #main-content-cv h5:before,
        #main-content-cv h6:before {
            content: none;
            padding-right: 0;
            margin-left: 0;
        }
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
    .inner {
        width: 93%;
    }

    header {
        padding: 20px 0;
    }

        header .inner {
            position: relative;
        }

        header h1, header h2 {
            width: 100%;
        }

        header h1 {
            font-size: 48px;
        }

        header h2 {
            font-size: 24px;
        }

        header a.button {
            background-image: none;
            width: auto;
            height: auto;
            display: inline-block;
            margin-top: 15px;
            padding: 5px 10px;
            position: relative;
            text-align: center;
            font-size: 13px;
            line-height: 1;
            background-color: #9ddcff;
            color: #2879d0;
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            border-radius: 5px;
        }

            header a.button small {
                font-size: 13px;
                display: inline;
            }

    #main-content-cv,
    aside#sidebar {
        float: none;
        width: 100% !important;
    }

    aside#sidebar {
        background-image: none;
        margin-top: 20px;
        border-top: solid 1px #ddd;
        padding: 20px 0;
        min-height: 0;
    }

        aside#sidebar a.button {
            display: none;
        }

    #main-content-cv h1:before,
    #main-content-cv h2:before,
    #main-content-cv h3:before,
    #main-content-cv h4:before,
    #main-content-cv h5:before,
    #main-content-cv h6:before {
        content: none;
        padding-right: 0;
        margin-left: 0;
    }
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
}
