<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
	
	<head>
		<title>App7 website for high end mobiles,like samsung nokia mobile website templates for free | Home :: w3layouts</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link rel="shortcut icon" type="image/x-icon" href="./images/fav-icon.png" />
		<link href="./css/style.css" rel="stylesheet" type="text/css"  media="all" />
		<meta name="keywords" content="App7 iphone web template, Andriod web template, Smartphone web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
	</head>
	<body>
		<!--- start-wrap---->
		<div class="wrap">
			<!---start-header---->
			<div class="header">
				<div class="header-left">
					<span> </span>
				</div>
				<div class="header-right">
					<p>Best Showcase template <br />for your next ios7 iphone app</p>
					<ul class="big-btns">
						<li><a class="iapps" href="#"> </a></li>
						<li><a class="gapps" href="#"> </a></li>
						<div class="clear"> </div>
					</ul>
				</div>
				<div class="clear"> </div>
			</div>
			<!---End-header---->
			<!---start-content---->
			<div class="content">
				<div class="content-top-grids">
					<div class="top-grid">
						<div class="top-grid-left icon1">
							<span> </span>
						</div>
						<div class="top-grid-right">
							<h2>All-new design</h2>
							<p>iOS 7 started with a desire to take an experience people love and make it better. To make it even simpler, more useful, and more enjoyable </p>
						</div>
						<div class="clear"> </div>
					</div>
					<div class="top-grid">
						<div class="top-grid-left icon2">
							<span> </span>
						</div>
						<div class="top-grid-right">
							<h2>All-new features</h2>
							<p>Control Center, AirDrop for iOS, and smarter multitasking are just a few of the great new features in iOS 7. And all your favorite apps have been enhanced</p>
						</div>
						<div class="clear"> </div>
					</div>
					<div class="top-grid">
						<div class="top-grid-left icon3">
							<span> </span>
						</div>
						<div class="top-grid-right">
							h2>Pixel perfect camera</h2>
							<p>iOS 7 started with a desire to take an experience people love and make it better. To make it even simpler, more useful, enjoyable </p>
						</div>
						<div class="clear"> </div>
					</div>
					<div class="top-grid">
						<div class="top-grid-left icon4">
							<span> </span>
						</div>
						<div class="top-grid-right">
							<h2>Instant messaging</h2>
							<p>Control Center, AirDrop for iOS, and smarter multitasking are just a few of the great new features in iOS 7. And all your favorite apps</p>
						</div>
						<div class="clear"> </div>
					</div>
					<div class="clear"> </div>
				</div>
				<!---start-panels---->
				<div class="panels">
					<div class="panel-left">
						<span> </span>
					</div>
					<div class="panel-right">
						<h3>Awesome Panels</h3>
						<p>iOS 7 started with a desire to take an experience people love and make it better. To make it even simpler, more useful, and more enjoyable  iOS 7 started with a desire to take an experience </p>
					</div>
					<div class="clear"> </div>
				</div>
				<!---//End-panels---->
				<!---start-testimonials---->
					<div class="testimonials">
						<div class="testimonial-head">
							<h4>Testimonials</h4>
							<p>Kind words from our valuable customers</p>
						</div>
						<div class="testimonial-grids">
							<div class="testimonial-grid">
								<a href="#"><img src="./images/test-people1.png" alt="" /></a>
								<p>Flathost servers are having high physical security and power redundancy Your data will be secure with us.</p>
								<a href="#">james,Envato</a>
							</div>
							<div class="testimonial-grid">
								<a href="#"><img src="./images/test-people2.png" alt="" /></a>
								<p>With our ultra mordern servers and optical cables, your data will be transfered to end user in milliseconds.</p>
								<a href="#">Mariya, Activeden</a>
							</div>
							<div class="testimonial-grid">
								<a href="#"><img src="./images/test-people3.png" alt="" /></a>
								<p>We have a dedicated team of support for sales and support to help you in anytime. You can also chat with us.</p>
								<a href="#">Steven, Microlancer</a>
							</div>
							<div class="clear"> </div>
						</div>
				  </div>
				<!---//End-testimonials---->
				<!----start-client-sliders----->
				<div class="clients-slider">
					<ul class="flexiselDemo3">
					    <li onclick="location.href='#';" ><img src="./images/c1.png" /></li>
					    <li onclick="location.href='#';" ><img src="./images/c2.png" /></li>
					    <li onclick="location.href='#';" ><img src="./images/c3.png" /></li>
					    <li onclick="location.href='#';"><img src="./images/c4.png" /></li>  
					</ul> 
					<div class="clear"> </div>      
				<!---start-news-letter----->
				<div class="news-letter">
					<div class="news-letter-header">
						<h3>Newsletter</h3>
						<p>Subscribe to our newsletter to keep up to date</p>
					</div>
					<form>
						<input type="text" value="Enter your Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter your Email';}" />
						<input type="submit" value="Subscribe" />
					</form>
				</div>
				<!---//End-news-letter----->
				<!---start-pricing-plans---->
				<div class="pricing-plans">
					<div class="pricing-plans-head">
						<h3>Plans. & Pricing</h3>
						<p>Two simple plans. Free and Premium. Choose your favourite</p>
					</div>
					<div class="pricing-grids">
						<div class="pricing-text-grid">
							<ul>
								<li><a href="#">Basic filtering</a></li>
								<li><a href="#">Weather reports and time feature</a></li>
								<li><a href="#">Advanced dearch and results</a></li>
								<li><a href="#">Custom font integration</a></li>
								<li><a href="#">Signup on multiple devices same time</a></li>
								<li><a href="#">Ad free pages and content</a></li>
								<li><a href="#">Push notification and call to action</a></li>
								<li><a href="#">Special feature for premium member</a></li>
								<li><a href="#">Sync to mobile and devices</a></li>
								<li><a class="Price" href="#">Price</a></li>
							</ul>
						</div>
						<div class="pricing-check-grid pricing-check-grid-pre">
							<h3>Premium</h3>
							<ul>
								<li><a class="rightone" href="#"><span> </span></a></li>
								<li><a class="rightone" href="#"><span> </span></a></li>
								<li><a class="rightone" href="#"><span> </span></a></li>
								<li><a class="rightone" href="#"><span> </span></a></li>
								<li><a class="rightone" href="#"><span> </span></a></li>
								<li><a class="rightone" href="#"><span> </span></a></li>
								<li><a class="rightone" href="#"><span> </span></a></li>
								<li><a class="rightone" href="#"><span> </span></a></li>
								<li><a class="rightone" href="#"><span> </span></a></li>
								<li><a class="preprice" href="#">$19</a></li>
							</ul>
							<a class="btn2" href="#">Purchase</a>
						</div>
						<div class="clear"> </div>
					</div>
				</div>
				<!---//End-pricing-plans---->
				<!----start-faq---->
				<div class="faq">
					<div class="faq-header">
						<h3>Questions & Answers</h3>
						<p>Frequently asked questions and simple answers to undersand</p>
					</div>
					<div class="faq-grids">
						<div class="faq-grid-left">
							<div class="faq-grid-left-grid">
								<h4><a href="#">Do you have a free trial?</a></h4>
								<p>If you'd like a sneak peak into app7 site, you can check out our introductory HTML, Rails, and Business courses for free.</p>
							</div>
							<div class="faq-grid-left-grid">
								<h4><a href="#">Will I need any special software/hardware/books?</a></h4>
								<p>You won't need any special hardware or OS. As far as software, you'll need a code editor like Sublime Text 2. If you're planning to learn iOS, then you will need to own a Mac.</p>
							</div>
							<div class="faq-grid-left-grid">
								<h4><a href="#">How does your 30-day money back guarantee work?</a></h4>
								<p>If you cancel your account within 30 days of signing up and aren't satisfied, send our support team an email and we'll send you a refund. No questions asked.</p>
							</div>
							<div class="faq-grid-left-grid">
								<h4><a href="#">Can I get invoiced instead of paying monthly?</a></h4>
								<p>Absolutely. Just contact support to get that set up..</p>
							</div>
						</div>
						<div class="faq-grid-right">
							<div class="faq-grid-left-grid">
								<h4><a href="#">What kind of skills do I need to use?</a></h4>
								<p>None! App7 teaches both beginners and experts. We're continually adding content to our ever growing library..</p>
							</div>
							<div class="faq-grid-left-grid">
								<h4><a href="#">Am I tied to a contract?</a></h4>
								<p>There are absolutely no contracts with App7 premium. You can cancel or pause your account at any time.</p>
							</div>
							<div class="faq-grid-left-grid">
								<h4><a href="#">How long does it usually take for me to build?</a></h4>
								<p>You'll be able to start building real websites and apps pretty quickly, typically after about a month. It will take you roughly 45 hours of time to work through all of our courses. If you can't study full-time this usually takes around six months.</p>
							</div>
							<div class="faq-grid-left-grid">
								<h4><a href="#">How often do you release new content?</a></h4>
								<p>Almost weekly! You can refer to our content roadmap for more details.</p>
							</div>
						</div>
						<div class="clear"> </div>
					</div>
				</div>
				<!----End-faq---->
				<!---start-stay-with----->
				<div class="stay-with">
					<div class="stay-with-head">
						<h3>Stay with us</h3>
						<p>You can also email us at <a href="#">support@yourdomin.in.</a> Gald to help</p>
					</div>
					<div class="social-icons">
						<ul>
							<li><a class="twitter simptip-position-bottom simptip-movable" data-tooltip="Twitter" href="#"> </a></li>
							<li><a class="face simptip-position-bottom simptip-movable" data-tooltip="Facebook" href="#"> </a></li>
							<li><a class="linked-in simptip-position-bottom simptip-movable" data-tooltip="Linked-in" href="#"> </a></li>
							<div class="clear"> </div>
						</ul>
					</div>
				</div>
				<!---End-stay-with----->
				<!---start-footer----->
				<div class="footer">
					<div class="footer-left">
						<p>Copyright &#169; 2014. APP7. All rights reserved.</p>
						<ul>
							<li><a href="#">Terms </a></li>
							<li><a href="#">Privacy </a></li>
							<li><a href="#">Press </a></li>
							<div class="clear"> </div>
						</ul>
					</div>
					<div class="footer-right">
			    	<a href="#" id="toTop" style="display: block;"><span id="toTopHover" style="opacity: 1;"></span></a>
						<p>Template by <a href="http://w3layouts.com/">W3layouts</a></p>
					</div>
					<div class="clear"> </div>
				</div>
				<!---//End-footer----->
			</div>
			<!---End-content---->
		</div>
		<!--- //End-wrap---->
	</body>
</html>

